{% extends 'base.html' %}

{% block title %}
Page not Found | Buyucoin easiest way to buy bitcoin online.
{% endblock %}

{% block content %}

<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1">
<div class="element">
<img class="a1" src="../static/images/price1.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
</div>
<div class="container"><img src="../static/images/404.jpg" alt="Buyucoin easiest way to buy bitcoin online in India" align="middle" />
<li><a class="button special" href="{{url_for('main.index')}}">Visit Buyucoin homepage</a></li>
</div>
</section>
{% endblock %}