{% extends 'base.html' %}

{% block title %}
About Us | Buyucoin easiest way to buy bitcoin online in India and Bitcoin mining in India
{% endblock %}

{% block content %}
<p>&nbsp;</p>

<!-- Main -->
<section id="main" class="wrapper style1">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">

<header class="major">
<h1>Buyucoin</h1>
<p>The Easiest way to buy bitcoin online in India.</p>
</header>
<div class="container">
<div class="row">
<div class="8u">

<h2> About BuyUcoin </h2>
<p> BuyUcoin is a company which provides you the easiest way to buy bitcoin online in India through credit card, debit card, Net banking. BuyUcoin is the first company to provide this payment method to buy bitcoin in India. It was founded in 2016. It aims to be the largest bitcoin exchange in India and it has made buying bitcoin easy in India. Also BuyUcoin is now leader in Bitcoin mining guidance in India. </p>
	
<h2> About the team </h2>
<p> Lots of people have been working on this project but we can't name everyone but people who have been there since its origin are <a href="https://www.linkedin.com/in/shivam-thakral-882174ab">Shivam Thakral</a> ,<a href="https://in.linkedin.com/in/dikshant-agarwal-793637b2"> Dikshant Agrawal </a> , Govind Singhal , Sudhir kumar Sahu but soon we are going to extent this list of names.
</p>
<p>Contact: support@buyucoin.com</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.4274537917677!2d77.77403031508491!3d28.73665198237691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6cb01dbbb2c05eac!2sBuyucoin+-+Indian+Bitcoin+Exchange!5e0!3m2!1sen!2s!4v1468840509205" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<div class="4u">


<section>
<h3>Quick links</h3>
<ul class="alt">
<li><a href="{{url_for('main.buybitcoin')}}"Buy Bitcoin (BTC)</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a href="{{url_for('main.faq')}}">FAQ</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to buy bitcoin</a></li>
<li><a href="{{url_for('main.bitcoinwallet')}}">Get bitcoin wallet</a></li>
<li><a href="{{url_for('main.bitcoingraph')}}">Bitcoin Exchange rate graph</a></li>
<li><a href="http://historyofbitcoin.org/">Bitcoin Timeline</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Buyucoin</a></li>
<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining India</a></li>
</ul>
</section>
</div>
</div>


</div>
</section>
{% endblock %}