{% extends 'base.html' %}

{% block title %}
BuyUcoin | Contact for Bitcoin Mining Solution in India.{% endblock %}

{% block content %}

<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
<header class="major">
<h1>Buyucoin - Bitcoin Mining Solution in India</h1>
<h2>Contact Us</h2>
<p>For any query related to bitcoin mining hardware, software or setup feel free to contact us about anything. </p><p>We are developing a detailed guide for bitcoin miners in India it will be updated soon.</p>
</header>
<div class="container">
<div class="row">
<header>

<b>
<center>
For quick response Call @ +91 8979293529 , +91 9169379323

</center>
</b>
</header>
<header class="major">

</header><iframe src={{url_for('main.contact_form')}} width="950px" height="750" align="middle" ></iframe></div>

</div>
</section>
{% endblock %}