{% extends 'base.html' %}

{% block title %}
Buyucoin | Bitcoin Price graph over time | Btc/inr | Bitcoin price history | Buyucoin easiest way to buy bitcoin online in India |  Bitcoin price graph over last 1 year, 1 month, 3 month , 6 month.
{% endblock %}

{% block content %}

<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
<header class="major">
<h1>Buyucoin - Easiest way to buy bitcoin online in India</h1>
<h2>Bitcoin price graph overtime</h2>
</header>
<div class="container">
<div class="row">
<section class="special box"><img src="../static/images/1.PNG" alt="Bitcoin price graph over last 1 month. buyucoin - Easiest way to buy bitcoin online in India" width="915" height="323" /> Bitcoin price graph over last 1 month.</section>
<section class="special box"><img src="../static/images/3.PNG" alt=" Bitcoin price graph over last 3 month. buyucoin - Easiest way to buy bitcoin online in India" width="915" height="323" /> Bitcoin price graph over last 3 month.</section>
<section class="special box"><img src="../static/images/4.PNG" alt="Bitcoin price graph over last 6 month. buyucoin - Easiest way to buy bitcoin online in India" width="915" height="323" /> Bitcoin price graph over last 6 month.</section>
<section class="special box"><img src="../static/images/2.PNG" alt=" Bitcoin price graph over last 1 year.buyucoin - Easiest way to buy bitcoin online in India" width="915" height="323" /> . Bitcoin price graph over last 1 year.</section>
<ul>
<li><a class="button special" href="{{url_for('main.buybitcoin')}}">Buy Bitcoins Now</a></li>
</ul>
</div>
</div>
</section>
{% endblock %}