<!DOCTYPE HTML>

<html>
	<head>
		<title>My friend earned 1.25 crores from bitcoins! | Buyucoin easiest way to buy bitcoin online in India.</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="My friend invested Rs 5000 in 2011 and in 2013 it turned into 1.25crore see how bitcoin price has changed over years and how he earned money from bitcoins Buyucoin " />
		<meta name="keywords" content="Buyucoin, buy bitcoin online" />

		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
			<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-layers.min.js"></script>
		<script src="../static/js/init.js"></script>
		<link rel="stylesheet" href="/static/css/skel.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/style-xlarge.css" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80185592-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body id="top">

<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<a href="{{url_for('main.index')}}"><img itemprop="image" src="../static/images/logo.png" alt="BuyUcoin | Easiest way to buy bitcoin online in India" width="200px" height="40px"/></a>
<div class="alpha2"><img src="../static/images/price.png" alt="Bitcoin current price , Bitcoin current price in inr , Btc/inr , 1 bitcoin is equal to how many indian rupees" width="150px" height="40px" /></div>
<nav id="nav">
<ul>
<li><a itemprop="url" href="{{url_for('main.index')}}">Home</a></li>

<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to Buy</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Us</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a class="button special" href="{{url_for('main.buybitcoin')}}">Buy Bitcoins Now</a></li>
</ul>				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">

				<header class="major">
					<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
				</header>
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2><b>My friend earned 1.25 crores from bitcoins!</b></h2>
								<a href="#" class="image fit"><img src="../static/images/rup1.jpg" alt="My friend earned 1.25 crores from bitcoins!" /></a>
							
<br><!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div></br>
<p>Bitcoin, the most volatile currency I had ever seen. It has the capability to change anyone's future with its volatile nature. It is young currency as compared to any other currency in the world. It was started in year 2009 as the first digital currency in the world. Because of its volatile nature and quick change in its price it became choice of every investor since then, people started investing in it. This will seem fake to you but it's a truth. Everyone will question on this but this had happened because of bitcoin volatile nature.</p>

<p>It was the time of January 2011 when my one of friend buy Bitcoins worth 5000 rupees, at that time bitcoin cost Rs 20/bitcoin so he got 250 Bitcoins. Since his investment the price started to rise, in the second week of June 2011 the price reached Rs 2100/bitcoin. But unfortunately, the price didn't remain at that position for a long time and hence at the end of 2011 price got a downfall and reached Rs 300/bitcoin. </p>

<p><b>Steady increase in price in 2012</b></p>

<p>At the starting of 2012 prices bumped to Rs 340/bitcoin. But there was little downfall in its price but till the end of 2012 price increased well and reaches at rate of Rs 890/bitcoin. With this price my friend investment of Rs 5000 has turned in Rs 2,22,500. </p>

<p><b>All time high price in 2013</b></p>

<p>In this year bitcoin had seen its highest price of all time. But unlike previous years this year its price starts with a little dip i.e. Rs 870/bitcoin. It was the most happening year in the history of bitcoin as On March 18, 2013, the <a href="http://www.fincen.gov/statutes_regs/guidance/html/FIN-2013-G001.html" target="_blank">Financial Crimes Enforcement Network</a> (FinCEN) issued guidelines for individuals using bitcoin in the United States, causing problems for many bitcoin exchanges. The attacks by hackers on several bitcoin exchanges and the FBI seizure of more than 170,000 bitcoins from criminal online portal Silk Road caused the market price to go up and down. But when Chinese media started promoting bitcoins and baidu, a Chinese web services company started to accept bitcoins as payment its prices hit all-time high over Rs 76000/bitcoin. </p>

<p>Everyone was mesmerized with this but my friend sold his 250 bitcoins when its price were approximately Rs 50100/bitcoin. That made his 5 thousand into 1.25crore .</p>

<p>This price rise was after first halving and second halving is about to take place. And if history repeats then you can also earn a good amount from bitcoins. Don't wait start your investment journey today. </p>
   <li><a href="{{url_for('main.buybitcoin')}}" class="button special">Buy Bitcoins Now</a></li>

<div class="auth">
<br><b>Written by: </b>   Shivam Thakral </br>
Shivam Thakral is the founder of Buyucoin - Easiest way to buy bitcoin online in India and the writer of this post. You can find him on <a href="https://plus.google.com/u/0/+ShivamThakralcvm?rel=author">Google+</a>
</div>



							</section>
						</div>
						<div class="4u">
							<section>
									<h3>About Buyucoin</h3>
								<p>BuyUcoin is a company which provides you the easiest way to buy bitcoin online in India through credit card, debit card, Net banking. It is the first company to provide this payment method to buy bitcoin in India. We have made buying bitcoin easy.</p>
								
							</section>
							<hr />
							<section>
								<h3>Quick links</h3>
								<ul class="alt">
										
										<li><a href="{{url_for('main.buybitcoin')}}"Buy Bitcoin (BTC)</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a href="{{url_for('main.faq')}}">FAQ</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to buy bitcoin</a></li>
<li><a href="{{url_for('main.bitcoinwallet')}}">Get bitcoin wallet</a></li>
<li><a href="{{url_for('main.bitcoingraph')}}">Bitcoin Exchange rate graph</a></li>
<li><a href="http://historyofbitcoin.org/">Bitcoin Timeline</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Buyucoin</a></li>
<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining India</a></li>
								</ul>
							</section>
						</div>
					</div>
					<hr class="major" />
					<div class="row">
						<div class="6u">
							<section class="special">
									<a href="{{url_for('main.bitcoinhalving')}}" class="image fit"><img src="../static/images/half1.jpg" alt="What could happen to bitcoin price after halving in july?" /></a>
								<h3>What could happen to bitcoin price after halving in july?</h3>
								<p>As per the predictions, the next halving event will take place near July 10, 2016 in which reward amount will decrease from 25 to 12.5 bitcoin per block. A lot could happen to bitcoin price after halving in july. The experts say the results this time are going to be massive and will be giving a very high rise to the use of bitcoins. </p>
								<ul class="actions">
									<li><a href="{{url_for('main.bitcoinhalving')}}" class="button alt">Read Full Article</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
							<a href="{{url_for('main.bitinvest')}}" class="image fit"><img src="../staic/images/rup1.jpg" alt="My friend earned 1.25 crores from bitcoins!" /></a>
								<h3>My friend earned 1.25 crores from bitcoins!</h3>
                                <p>My friend invested Rs 5000 in bitcoins in the year 2011 and that money turned into 1.25crore in less than 3 years</p>
								<ul class="actions">
									<li><a href="{{url_for('main.bitinvest')}}" class="button alt">Read Full article</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>
<!--  Footer  --><footer id="footer">
<div class="container">
<div class="row double">
<div class="6u">
<div class="row collapse-at-2">
<div class="6u">
<h3>Quick links</h3>
<ul class="alt">
<li><a href="{{url_for('main.buybitcoin')}}"Buy Bitcoin (BTC)</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a href="{{url_for('main.faq')}}">FAQ</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to buy bitcoin</a></li>
<li><a href="{{url_for('main.bitcoinwallet')}}">Get bitcoin wallet</a></li>
</ul>
</div>
<div class="6u">
<h3>Other links</h3>
<ul class="alt">
<li><a href="{{url_for('main.terms')}}">Terms and Conditions</a></li>
<li><a href="{{url_for('main.bitcoingraph')}}">Bitcoin Exchange rate graph</a></li>
<li><a href="http://historyofbitcoin.org/">Bitcoin Timeline</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Buyucoin</a></li>
<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining India</a></li>
</ul>
</div>
</div>
</div>
<div class="6u">
<h2>About BuyUcoin</h2>
<p><span itemprop ="description">BuyUcoin is an Indian bitcoin exchange company which provides the easiest way to buy bitcoin online in India. Here you can buy Bitcoin with credit card, debit card, Net banking instantly.</span>It aims to make buying bitcoins (BTC) very easy for people in India. Buyucoin have made buying bitcoin easy.<a href="{{url_for('main.about')}}">Read more</a></p>
<p> Find BuyUcoin on:</p>
<ul class="icons">
<li><a href="https://twitter.com/buyucoin"><img src="../static/images/t.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on twitter " width="50px" height="40px" /></a></li>
<li><a href="https://www.facebook.com/BuyUcoin"><img src="../static/images/f.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on facebook" width="50px" height="40px" /></a></li>
<li><a href="https://plus.google.com/104585585559413088584/"><img src="../static/images/g.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on google plus" width="50px" height="40px" /></a></li>
<li><a href="https://www.linkedin.com/company/buyucoin"><img src="../static/images/l.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on linkwdin" width="50px" height="40px" /></a></li>
<li><a href="https://www.instagram.com/buyucoin/"><img src="../static/images/i.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on Instagram" width="50px" height="40px" /></a></li>
</ul>
</div>
</div>
<ul class="copyright">
<li>&copy; BuyUcoin. All rights reserved.</li>
<li>Call us: +91 8979293529</li>
<li>Mail us: support@buyucoin.com</li>
</ul>
</div>
</footer>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5788b7ad4c3ace81"></script>
</body>
</html>

