{% extends 'base.html' %}

{% block title %}
Buy now | Buyucoin easiest way to buy bitcoin online in India.{% endblock %}

{% block content %}

<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">

<header class="major">
<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
<p> Buy bitcoin in its smaller units i.e. bits, 1 bitcoin = 10,00,000 bits. Buy bits.</p>
Don't have a Purchase Id : <a class="button special" href="{{url_for('main.purchaseid')}}"> Get purchase ID</a></header>
<div class="container">
<div class="row">
<iframe src="logged/index.php"  height="1150" width ="1050" align="middle"></iframe></div>

</div>
</section>
{% endblock %}