{% extends 'base.html' %}

{% block title %}
BuyUcoin | Easiest way to buy bitcoin online in India and bitcoin mining in India guidance.
{% endblock %}

{% block content %}
<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
<header class="major">
<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
<h2>Contact US</h2>
<p>Fill the Query form or call us any time.</p>
</header>
<div class="container">
<div class="row">
<header>

<b>
<center>
For quick response Call @ +91 8979293529 , +91 9169379323
<br>Mail us: support@buyucoin.com</br>
</center>
</b>
</header>
<header class="major">

</header>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <iframe src="{{url_for('main.contact_form')}}" width="950px" height="750" align="middle" ></iframe></div>

</div>
</section>
{% endblock %}

