{% extends 'base.html' %}

{% block title %}
FAQ | Buyucoin easiest way to buy bitcoin online in India| Buy Bitcoin online | Buy Bitcoin online in India{% endblock %}

{% block content %}
<!-- Main -->
			<section id="main" class="wrapper style1">
<div class="element">
<img class="a1" src="../static/images/price1.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
</div>
				<header class="major">
<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
					<h2>Frequently Asked Questions (FAQ)</h2>
					
				</header>
                	<section id="one" class="wrapper style1">
				
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								
								<h3>What is bitcoin ?</h3>
								<p>Bitcoin is a consensus network that enables a new payment system and a completely digital money. It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen.</p>
							</section>
						</div>
                         <div class="4u">
							<section class="special box">
								
								<h3>How to buy Bitcoin in India ?</h3>
								<p>You can buy bitcoins from limited number of exchangers available but there payment procedure are lengthy but Buyucoin provides you an easy and fast solution.</p>
							</section>
						</div>
                         <div class="4u">
							<section class="special box">
								
								<h3>How to get bitcoin wallet and address ?</h3>
								<p> There are different forms of wallet available i.e. mobile, web, desktop, hardware. You can easily choose your wallet and get an address from there. <a href="{{url_for('main.bitcoinwallet')}}">Click here to get one.</a> </p>
							</section>
						</div>
                          <div class="4u">
							<section class="special box">
								
								<h3>Is Bitcoin Secure ?</h3>
								<p>The Bitcoin technology - the protocol and the cryptography - has a strong security track record, and the Bitcoin network is probably the biggest distributed computing project in the world.</p>
							</section>
						</div>
                           <div class="4u">
							<section class="special box">
								
								<h3>Is Bitcoin anonymous ?</h3>
								<p>Bitcoin is designed to allow its users to send and receive payments with an acceptable level of privacy as well as any other form of money. But it is not completely anonymous.</p>
							</section>
						</div>
                         <div class="4u">
							<section class="special box">
								
								<h3>How is new bitcoin created ?</h3>
								<p>Bitcoin is created by mining process in which a software continuously solve hard maths problems and its difficulty keeps on increasing.</p>
							</section>
						</div>
						
                    
                        
                        <div class="4u">
							<section class="special box">
								
								<h3>What is bitcoin halving ?</h3>
								<p>This is an event after which bitcoin mining rewards get halfn i.e. minner gets half the amount of bitcoins which he is getting now on each block.</p>
							</section>
						</div>
                        <div class="4u">
							<section class="special box">
								
								<h3>Is bitcoin legal in India ?</h3>
								<p>Yes, Bitcoin transactions are totally legal in India as till know there is no law regarding control on bitcoin by Indian government.</p>
							</section>
						</div>
                        
						<div class="4u">
							<section class="special box">
								
								<h3>Who regulate bitcoin ?</h3>
								<p>There is no central authority regulating bitcoins like for any other currency. Bitcoin is completely decentralized. </p>
							</section>
						</div>
                        
                        <div class="4u">
							<section class="special box">
								
								<h3>How to use bitcoin ?</h3>
								<p>You can Bitcoins in different ways such as doing payment online, giving money to your friend, keep it as investment as it is volitile and many more ways.</p>
							</section>
						</div>
                          <div class="4u">
							<section class="special box">
								
								<h3>What is bitcoin minning ?</h3>
								<p>Mining is the process of spending computing power to process transactions, secure the network, and keep everyone in the system synchronized together. It can be perceived like the Bitcoin data center except that it has been designed to be fully decentralized with miners operating in all countries and no individual having control over the network.</p>
							</section>
						</div>
                        <div class="4u">
							<section class="special box">
								
								<h3>How to buy Bitcoin through online payment ?</h3>
								<p>BuyUcoin allows you to buy bitcoin through online payment. </p>
							</section>
						</div>
						
                     
                         <div class="4u">
							<section class="special box">
								
								<h3>Who Developed Bitcoin ?</h3>
								<p>The original Bitcoin code was designed by Satoshi Nakamoto under MIT open source credentials.</p>
							</section>
						</div>
                      <div class="4u">
							<section class="special box">
								
								<h3>what are units in bitcoin currency ?</h3>
								<p> 1 Bitcoin = 100000000 Satoshis <br>
                                   1 Bitcoin = 1000000 bits
                                </p>
							</section>
						</div>
                        <div class="4u">
							<section class="special box">
								
								<h3>How does bitcoin rate is determined ?</h3>
								<p>The price of a bitcoin is determined by supply and demand same as any other comodity. When demand for bitcoins increases, the price increases, and when demand falls, the price falls. There is only a limited number of bitcoins in circulation and new bitcoins are created at a predictable and decreasing rate.</p>
							</section>
						</div>
                          
                      
			</section>
{% endblock %}
