{% extends 'base.html' %}

{% block title %}
How does bitcoin Work? | Buyucoin easiest way to buy bitcoin online in India.{% endblock %}

{% block content %}

<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1"><header class="major">

<img class="a2" src="../static/images/price2.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
</header>
<div class="container">
<div class="row">
<h2>Know how bitcoin Work -  Bitcoin Working explained </h2> 
<iframe width="640" height="360" src="https://www.youtube.com/embed/LuA3xb-L8r8" frameborder="0" allowfullscreen></iframe>


<div class="4u">
<section>
<h3>About Buyucoin</h3>
<p>BuyUcoin is a company which provides you the easiest way to buy bitcoin online in India through credit card, debit card, Net banking. It is the first company to provide this payment method to buy bitcoin in India. We have made buying bitcoin easy.</p>
</section>
<hr />
<section>
<h3>Quick links</h3>
<ul class="alt">
	<li><a href="{{url_for('main.buybitcoin')}}"Buy Bitcoin (BTC)</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a href="{{url_for('main.faq')}}">FAQ</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to buy bitcoin</a></li>
<li><a href="{{url_for('main.bitcoinwallet')}}">Get bitcoin wallet</a></li>
<li><a href="{{url_for('main.bitcoingraph')}}">Bitcoin Exchange rate graph</a></li>
<li><a href="http://historyofbitcoin.org/">Bitcoin Timeline</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Buyucoin</a></li>
<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining India</a></li>
</ul>
</section>
</div>
</div>
<hr class="major" />
<div class="row">
<div class="6u">
<section class="special"><a class="image fit" href="{{url_for('main.bitcoinhalving')}}"><img src="../static/images/half1.jpg" alt="What could happen to bitcoin price after halving in july?" /></a>
<h3>What could happen to bitcoin price after halving in july?</h3>
<p>As per the predictions, the next halving event will take place near July 10, 2016 in which reward amount will decrease from 25 to 12.5 bitcoin per block. A lot could happen to bitcoin price after halving in july. The experts say the results this time are going to be massive and will be giving a very high rise to the use of bitcoins.</p>
<ul class="actions">
<li><a class="button alt" href="{{url_for('main.bitcoinhalving')}}">Read Full Article</a></li>
</ul>
</section>
</div>
<div class="6u">
<section class="special"><a class="image fit" href="{{url_for('main.bitinvest')}}"><img src="../images/rup1.jpg" alt="My friend earned 1.25 crores from bitcoins!" /></a>
<h3>My friend earned 1.25 crores from bitcoins!</h3>
<p>My friend invested Rs 5000 in bitcoins in the year 2011 and that money turned into 1.25crore in less than 3 years</p>
<ul class="actions">
<li><a class="button alt" href="{{url_for('main.bitinvest')}}">Read Full article</a></li>
</ul>
</section>
</div>
</div>
</div>
</section>
{% endblock %}