{% extends 'base.html' %}

{% block title %}
BuyUcoin | Easiest way to buy bitcoin online in India and bitcoin mining in India guidance.
{% endblock %}

{% block content %}
<span itemscope itemtype="http://schema.org/LocalBusiness"><div id="skel-layers-wrapper" style="position: relative; left: 0px; right: 0px; top: 0px; -webkit-backface-visibility: hidden; -webkit-perspective: 500; transition: -webkit-transform 0.25s ease-in-out; -webkit-transition: -webkit-transform 0.25s ease-in-out;">
<!--  Banner  -->
<section id="banner">
<div class="inner">
<h1 class="101"> 
 
<span itemprop="name">BuyUcoin</span>- Indian Bitcoin exchange. <br>Easiest way to buy bitcoin online in India.</br></h1>
<h2>
Buy bitcoin online with <span class="alpha1"><span itemprop="paymentAccepted">credit card, debit card, Netbanking.</span></span></h2> <br/> <br/><p>Follow some simple steps and get into the boat of Cryptocurrency / digital currency</p>
<ul class="actions">
<li><a class="button big special" href="{{url_for('main.buybitcoin')}}">Buy Bitcoin</a></li>
<li><a class="button big alt" href="{{url_for('main.purchaseid')}}">Get purchase ID</a></li>
</ul>
</div>
</section>
<!--  One  -->
<section id="one" class="wrapper style1"><header class="major">
<div class="element">
<img class="a1" src="../static/images/price1.png" alt="Bitcoin exchange inr , Buy btc , buyucoin , bitcoin exchange inr , bitcoin calculator inr , 1 btc = inr  ">
</div>
<h2> Bitcoin Mining Hardware And Guide for Bitcoin Miners in India </h2>
<iframe style="width:200px;height:280px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=buyucoin-21&marketplace=amazon&region=IN&placement=B00PGSD6ZC&asins=B00PGSD6ZC&linkId=&show_border=true&link_opens_in_new_window=true">
</iframe>
<iframe style="width:200px;height:280px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=buyucoin-21&marketplace=amazon&region=IN&placement=B014OGCP6W&asins=B014OGCP6W&linkId=&show_border=true&link_opens_in_new_window=true">
</iframe>

<iframe style="width:200px;height:280px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=buyucoin-21&marketplace=amazon&region=IN&placement=B013WW2YWE&asins=B013WW2YWE&linkId=&show_border=true&link_opens_in_new_window=true">
</iframe>

</br>
<a class=" special button " href="{{url_for('main.bitcoin_mining_india')}}">Contact for Bitcoin Mining in India</a></br></br></br></br>
<hr>
<h2>Get into the swing of Bitcoins</h2
<p>Bitcoin is the most traded digital currency in world.</p>
</header>
<div class="container">
<div class="row">
<div class="4u">
<section class="special box">
<h3>What is bitcoin ?</h3>
<p>Bitcoin is a consensus network that enables a new payment system and a completely digital money. It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen.</p>
</section>
</div>
<div class="4u">
<section class="special box">
<h3>How to get bitcoin wallet and address ?</h3>
<p>There are different forms of wallet available i.e. mobile, web, desktop, hardware. You can easily choose your wallet and get an address from there. <a href="{{url_for('main.bitcoinwallet')}}">Click here to get one.</a></p>
</section>
</div>
<div class="4u">
<section class="special box">
<h3>How bitcoin rate is determined ?</h3>
<p>The price of a bitcoin is determined by supply and demand same as any other comodity. When demand for bitcoins increases, the price increases, and when demand falls, the price falls. There is only a limited number of bitcoins in circulation and new bitcoins are created at a predictable and decreasing rate.</p>
</section>
</div>
<div class="4u">
<section class="special box">
<h3>Is Bitcoin Secure ?</h3>
<p>The Bitcoin technology - the protocol and the cryptography - has a strong security track record, and the Bitcoin network is probably the biggest distributed computing project in the world.</p>
</section>
</div>
<div class="4u">
<section class="special box">
<h3>Is bitcoin legal in India ?</h3>
<p>Yes, Bitcoin are legal in India as till now there is no law regarding control on bitcoin by Indian government or Rbi</p>
</section>
</div>
<div class="4u">
<section class="special box">
<h3>How to buy Bitcoin in India ?</h3>
<p>You can buy bitcoin from limited number of Indian bitcoin exchange available but there payment procedure are lengthy but <b>BuyUcoin </b>- Indian Bitcoin exchange  provides you an easy way to buy bitcoin online in India. Hence you can buy bitcoin with debit card , credit card or net banking  easily on Buyucoin. Purchase your first Bitcoin <a href="{{url_for('main.buybitcoin')}}">here</a></p>
</section>
</div>
<div class="4u"><a class="special1 button " href="{{url_for('main.faq')}}"> Continue your journey with bitcoin</a></div>
</div>

</div>
</section>
        <script>
function convert(curr){
 if (curr == "Bitcoin") {
        I = document.getElementById("bitcoin").value * 45400;
   A = document.getElementById("bitcoin").value * 1000000;
        document.getElementById("inr").value = I;
 document.getElementById("bits").value = A;
    } 
 if (curr == "Inr") {
        C = document.getElementById("inr").value * (1/45400);
 N = document.getElementById("inr").value * (1000000/45400);
        document.getElementById("bitcoin").value = C;
  document.getElementById("bits").value = N;
    } 
else {
        D = (document.getElementById("bits").value ) * (45400/1000000);
        L = (document.getElementById("bits").value ) * (1/1000000);
        document.getElementById("bitcoin").value = L;
   document.getElementById("inr").value = D;
    }
}
</script>
<!--  Two  -->
<section id="two" class="wrapper style2">
<div class="container">
<div class="row">
<div class="6u">
<section class="special box1"><header class="major">
<h2>Bitcoin Exchange Calculator</h2>
<p>Bitcoin Exchange Rate calculator. It convert <b> btc to inr & inr to btc</b> </p>
</header><br><input id="bitcoin" onkeyup="convert('Bitcoin')" placeholder="Bitcoin"></br><br><input id="inr" onkeyup="convert('Inr')" placeholder=" Indian Rupees"></br><br><input id="bits" onkeyup="convert('Bits')" placeholder="Bits"></br></section>
</div>
<div class="6u">
<section class="special box1"><br/> <a class=" special button " href="{{url_for('main.bitcoingraph')}}">Bitcoin Exchange Rate graph</a> <br/><br/> <a class=" special button " href="{{url_for('main.helpingguide1')}}"> Getting Started with bitcoin</a> <br/><br/> <a class=" special button " href="{{url_for('main.purchaseid')}}">Get Your Purchase ID</a> <br/><br/> <a class=" special button " href="{{url_for('main.bitcoinwallet')}}">Get Bitcoin wallet</a><br/><br/> <a class=" special button " href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining India</a></section>
</div>
</div>
</div>
</section>
<section id="one" class="wrapper style1"><header class="major">
<h2>Blogs and News On Bitcoins</h2>
</header>
<div class="container">
<div class="row">
<div class="6u">
<section class="special"><a class="image fit" href="{{url_for('main.bitcoinhalving')}}"><img src="../static/images/half1.jpg" alt="What could happen to bitcoin price after halving in july? by Buyucoin"/></a>
<h3>What could happen to bitcoin price after halving in july?</h3>
<p>As per the predictions, the next halving event will take place near July 10, 2016 in which reward amount will decrease from 25 to 12.5 bitcoin per block. A lot could happen to bitcoin price after halving in july. The experts say the results this time are going to be massive and will be giving a very high rise to the use of bitcoins.</p>
<ul class="actions">
<li><a class="button alt" href="{{url_for('main.bitcoinhalving')}}">Read Full Article</a></li>
</ul>
</section>
</div>
<div class="6u">
<section class="special"><a class="image fit" href="{{url_for('main.bitinvest')}}"><img src="../static/images/rup1.jpg" alt="My friend earned 1.25 crores from bitcoins by Buyucoin"/></a>
<h3>My friend earned 1.25 crores from bitcoins!</h3>
<p>My friend invested Rs 5000 in bitcoins in the year 2011 and that money turned into 1.25crore in less than 3 years</p>
<ul class="actions">
<li><a class="button alt" href="{{url_for('main.bitinvest')}}">Read Full article</a></li>
</ul>
</section>
</div>
</div>
</div>
</section>
	{% endblock %}