{% extends 'base.html' %}

{% block title %}
Buyucoin | Get Purchase Id | Easiest way to buy bitcoin online in india{% endblock %}

{% block content %}


<p>&nbsp;</p>
<!-- Main -->
<section id="main" class="wrapper style1"><header class="major">
<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
<h2>Get Purchase Id</h2>
<p>Fill the following form and Purchase Id will be sent to you.</p>
</header>
<div class="element">
<img class="a1" src="../static/images/price1.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
</div>
<div class="container">
<div class="row">
<iframe src="{{url_for('main.purchase_form')}}" width="950px" height="1900" align="middle"></iframe>
</div>
</div>
</section>
{% endblock %}