<!DOCTYPE HTML>
<html>
	<head>
		<title>Buyucoin | Get Purchase Id | Easiest way to buy bitcoin online in india </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Fill the form with your details and Purchase Id will be send to you." />
<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="keywords" content=" Get Purchase ID , Buyucoin , Buy Bitcoin" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-layers.min.js"></script>
		<script src="../static/js/init.js"></script>
		<link rel="stylesheet" href="/static/css/skel.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/style-xlarge.css" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80185592-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body id="top">
<p>&nbsp;</p>
<!-- Header --><header id="header" class="skel-layers-fixed">
<a href="{{url_for('main.index')}}"><img itemprop="image" src="../static/images/logo.png" alt="BuyUcoin | Easiest way to buy bitcoin online in India" width="200px" height="40px"/></a>
<div class="alpha2"><img src="../static/images/price.png" alt="Bitcoin current price , Bitcoin current price in inr , Btc/inr , 1 bitcoin is equal to how many indian rupees" width="150px" height="40px" /></div>
<nav id="nav">
<ul>
<li><a itemprop="url" href="{{url_for('main.index')}}">Home</a></li>

<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to Buy</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Us</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a class="button special" href="{{url_for('main.buybitcoin')}}">Buy Bitcoins Now</a></li>
</ul>
</nav></header><!-- Main -->
<section id="main" class="wrapper style1"><header class="major">
<h1>Buyucoin - Easiest way to buy bitcoin online in India </h1>
<h2>Get Purchase Id</h2>
<p>Fill the following form and Purchase Id will be sent to you.</p>
</header>
<div class="element">
<img class="a1" src="../static/images/price1.png" alt="Current Bitcoin price , Btc/Inr , Easiest way to buy bitcoin online in India , buyucoin">
</div>
<div class="container">
<div class="row">
<iframe src="purchase/form.html" width="950px" height="1900" align="middle"></iframe>
</div>
</div>
</section>
<!--  Footer  --><footer id="footer">
<div class="container">
<div class="row double">
<div class="6u">
<div class="row collapse-at-2">
<div class="6u">
<h3>Quick links</h3>
<ul class="alt">
<li><a href="{{url_for('main.buybitcoin')}}"Buy Bitcoin (BTC)</a></li>
<li><a href="{{url_for('main.purchaseid')}}">Get Purchase ID</a></li>
<li><a href="{{url_for('main.faq')}}">FAQ</a></li>
<li><a href="{{url_for('main.howitwork')}}">How to buy bitcoin</a></li>
<li><a href="{{url_for('main.bitcoinwallet')}}">Get bitcoin wallet</a></li>
</ul>
</div>
<div class="6u">
<h3>Other links</h3>
<ul class="alt">
<li><a href="{{url_for('main.terms')}}">Terms and Conditions</a></li>
<li><a href="{{url_for('main.bitcoingraph')}}">Bitcoin Exchange rate graph</a></li>
<li><a href="http://historyofbitcoin.org/">Bitcoin Timeline</a></li>
<li><a href="{{url_for('main.contactus')}}">Contact Buyucoin</a></li>
<li><a href="{{url_for('main.bitcoin_mining_india')}}">Bitcoin Mining India</a></li>
</ul>
</div>
</div>
</div>
<div class="6u">
<h2>About BuyUcoin</h2>
<p><span itemprop ="description">BuyUcoin is an Indian bitcoin exchange company which provides the easiest way to buy bitcoin online in India. Here you can buy Bitcoin with credit card, debit card, Net banking instantly.</span>It aims to make buying bitcoins (BTC) very easy for people in India. Buyucoin have made buying bitcoin easy.<a href="{{url_for('main.about')}}">Read more</a></p>
<p> Find BuyUcoin on:</p>
<ul class="icons">
<li><a href="https://twitter.com/buyucoin"><img src="../static/images/t.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on twitter " width="50px" height="40px" /></a></li>
<li><a href="https://www.facebook.com/BuyUcoin"><img src="../static/images/f.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on facebook" width="50px" height="40px" /></a></li>
<li><a href="https://plus.google.com/104585585559413088584/"><img src="../static/images/g.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on google plus" width="50px" height="40px" /></a></li>
<li><a href="https://www.linkedin.com/company/buyucoin"><img src="../static/images/l.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on linkwdin" width="50px" height="40px" /></a></li>
<li><a href="https://www.instagram.com/buyucoin/"><img src="../static/images/i.PNG" alt="Find buyucoin - Easiest way to buy bitcoin online in India on Instagram" width="50px" height="40px" /></a></li>
</ul>
</div>
</div>
<ul class="copyright">
<li>&copy; BuyUcoin. All rights reserved.</li>
<li>Call us: +91 8979293529</li>
<li>Mail us: support@buyucoin.com</li>
</ul>
</div>
</footer>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5788b7ad4c3ace81"></script>
</body>
</html>

