<!DOCTYPE HTML>

<html>
	<head>
		<title>Thank You | Buyucoin easiest way to buy bitcoin online.</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Contact buyucoin for any query realted to bitcoin - Call us @ +918979293529" />
		<meta name="keywords" content="Buyucoin, buy bitcoin online" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80185592-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body id="top">
<p>&nbsp;</p>
<!-- Header --><header id="header" class="skel-layers-fixed">
<h1><a href="index.html"><img src="images/logo.png" alt="BuyUcoin | Easiest way to buy bitcoin online" width="200px" height="40px" /></a></h1>
<div class="alpha2"><img src="images/price.png" alt="Bitcoin current price , Bitcoin current price in inr , Btc/inr , 1 bitcoin is equal to how many indian rupees" width="150px" height="40px" /></div>
<nav id="nav">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="howitwork.html">How to Buy</a></li>
<li><a href="contactus.html">Contact Us</a></li>
<li><a href="purchaseid.html">Get Purchase ID</a></li>
<li><a class="button special" href="buybitcoin.html">Buy Bitcoins Now</a></li>
</ul>
</nav></header><!-- Main -->
<section id="main" class="wrapper style1">
<div class="container"><img src="images/thank.gif" alt="Buyucoin easiest way to buy bitcoin online in India" align="middle" /></div>
</section>
<!-- Footer --><footer id="footer">
<div class="container">
<div class="row double">
<div class="6u">
<div class="row collapse-at-2">
<div class="6u">
<h3>Quick links</h3>
<ul class="alt">
<li><a href="buybitcoin.html">Buy Bitcoins</a></li>
<li><a href="purchaseid.html">Get Purchase ID</a></li>
<li><a href="faq.html">FAQ</a></li>
<li><a href="howitwork.html">How to buy</a></li>
<li><a href="bitcoinwallet.html">Get bitcoin wallet</a></li>
</ul>
</div>
<div class="6u">
<h3>Other links</h3>
<ul class="alt">
<li><a href="terms.html">Terms and Conditions</a></li>
<li><a href="bitcoingraph.html">Bitcoin price graph</a></li>
<li><a href="http://historyofbitcoin.org/">Bitcoin Timeline</a></li>
<li><a href="contactus.html">Contact US</a></li>
</ul>
</div>
</div>
</div>
<div class="6u">
<h2>About Us</h2>
<p>BuyUcoin is a company which provides you the easiest way to buy bitcoin online in India through credit card, debit card, Net banking. It is the first company to provide this payment method to buy bitcoin in India. We have made buying bitcoin easy.</p>
<ul class="icons">
<li><a href="https://twitter.com/buyucoin"><img src="images/t.PNG" alt="" width="50px" height="40px" /></a></li>
<li><a href="https://www.facebook.com/BuyUcoin"><img src="images/f.PNG" alt="" width="50px" height="40px" /></a></li>
</ul>
</div>
</div>
<ul class="copyright">
<li>&copy; BuyUcoin. All rights reserved.</li>
<li>Call us: +918979293529</li>
<li>Mail us: buyucoin@gmail.com</li>
</ul>
</div>
</footer>
</body>
</html>